streamlit>=1.32.0
opencv-python>=4.9.0.80
numpy>=1.26.0,<2.0.0
pandas>=2.2.0
Pillow>=10.2.0
plotly>=5.18.0
transformers>=4.37.0
torch>=2.2.0
mediapipe>=0.10.9
protobuf>=3.20.0,<5.0.0
SpeechRecognition
pyaudio
torchvision